open {
  background-image: url('../images/battlefieldVBackground.jpg');
}

#image {
  background-image: url('../images/Battlefield\ V\ Closed\ Alpha\ Screen\ 10.jpg');
}

#item1 {
  background-image: url('../images/BFVPC_02.jpg');
}
