content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* background-color: #011936; */
  /* background-image: url('/images/IMG_20221120_230744_950.png'); */
  /* background-image: url('/images/Nier-Automata-PS4-Wallpapers-18.png'),
    linear-gradient(180deg, rgba(1, 25, 54, 0.8) 0%, #011936 33%); */
  background-image: linear-gradient(to bottom, rgba(1, 25, 54, 0.5), rgba(1, 25, 54, 0.8)),
    url('../images/Nier-Automata-PS4-Wallpapers-18.png');
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 50vmin;
  color: #f2f2f2;
}

featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vmin;
}

featured-header {
  font-size: 4vmin;
  font-weight: 700;
  color: #f2f2f2;
}

featured-content {
  display: flex;
}

.game {
  display: flex;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.35s;
  transform: scale(1);
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border: solid 0.5px rgba(7, 9, 15, 1);
  box-sizing: border-box;
}

.game:hover {
  transform: scale(1.05);
  border: solid 0.5px rgba(7, 9, 15, 0.1);
  z-index: 10;
}

.game:hover .card {
  opacity: 1;
}

.card {
  display: flex;
  box-sizing: border-box;
  align-items: end;
  padding: 2vmin;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.35s;
  background: linear-gradient(180deg, rgba(7, 9, 15, 0.1) 60%, rgba(7, 9, 15, 0.8) 90%);
  z-index: 15;
  color: #f2f2f2;
}

#shop {
  padding-top: 10vh;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
