#shop {
  padding-top: 10vh;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.35s;
  transform: scale(1);
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  border: solid 0.5px rgba(7, 9, 15, 1);
  box-sizing: border-box;
}

.game:hover {
  transform: scale(1.05);
  border: solid 0.5px rgba(7, 9, 15, 0.1);
  z-index: 10;
}

.game:hover .card {
  opacity: 1;
}

.card {
  display: flex;
  box-sizing: border-box;
  align-items: end;
  padding: 2vmin;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.35s;
  background: linear-gradient(180deg, rgba(7, 9, 15, 0.1) 60%, rgba(7, 9, 15, 0.8) 90%);
  z-index: 15;
  color: #f2f2f2;
}
