navbar {
  position: fixed;
  /* height: 120px; */
  height: 10vh;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6vw;
  z-index: 100;
  transition: 0.5s;
}

navbar::before {
  position: absolute;
  left: -50vw;
  display: inline-block;
  background: linear-gradient(180deg, #0d111d 0%, rgba(13, 17, 29, 0) 100%);
  content: '';
  height: 10vh;
  transition: 0s;
  width: 200vw;
}

.nav_link {
  position: relative;
  display: block;
  color: white;
  text-decoration: none;
  z-index: 101;
}

.nav_link:hover {
  color: #fb3640;
  cursor: pointer;
}

.library {
  margin-left: auto;
}

.logo_svg {
  height: 14vmin;
  width: 14vmin;
}

#about {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: auto 30px;
  color: white;
  z-index: 100;
}

#aboutBg {
  padding: 30px;
  position: absolute;
  top: 0px;
  left: -30px;
  width: 100%;
  z-index: -100;
}

#aboutSubmenu {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 80px;
  left: 0;
}

#aboutSubmenu ul {
  flex-flow: column;
  display: flex;
  gap: 20px;
}

.short {
  width: 75vw;
  margin: auto;
  transition: 0.5s;
  padding: 0 12.5vw;
}

navbar.short .nav_link:first-child {
  transition: 0.5s;
  margin-left: 0px;
}

navbar:not(.short) .logo {
  transition: 0.5s;
  margin-left: 40px;
}
